:root {
  --primari-text-color: #434455;
  --secondary-text-color: #404bbf;
  --primari-background-color: #ffffff;
}
body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  background: var(--primari-background-color);
}
/* --------------------------------------------Header--------------------------------------------*/
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e7e9fc;
}

/* Logo WebStudio */
.logo-link {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
  display: inline-block;

  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio {
  color: #2e2f42;
}
/* Menu Nav */
.header-navigation {
  display: flex;
}
.link {
  padding: 0;
  margin: 0;

  list-style: none;
}
.header-list {
  display: flex;
}
.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
.header-link:hover,
.header-link:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color);
}
.header-list .header-link.curent {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color);
}
.header-list .header-link.curent::after {
  content: '';
  width: 100%;
  height: 4px;
  background: #404bbf;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
}
/* Contacts info */
.header-address {
  display: flex;
  align-items: center;
}
.h-address {
  margin-left: auto;
}
.header-address-list {
  display: flex;
}
.header-address-item + .header-address-item {
  margin-left: 40px;
}
.header-mail {
  padding-top: 24px;
  padding-bottom: 24px;

  font-style: normal;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primari-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail:hover,
.header-mail:focus {
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color);
}
.header-tel {
  padding-top: 24px;
  padding-bottom: 24px;

  font-style: normal;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primari-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-tel:hover,
.header-tel:focus {
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color);
}
/* --------------------------------------------Content section--------------------------------------------*/
/* Hero section */
.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 180px 0;
  background: #2e2f42;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  width: 496px;
  text-align: center;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
}
.hero-button {
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  width: 408px;
  min-height: 576px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}
.modal-close:is(:hover, :focus) {
  background: #404bbf;
  border: 1px solid rgba(64, 75, 191, 1);
  color: white;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Section 1 Preference */

.visually-hidden {
  position: absolute;
  top: -150%;
  z-index: -100;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  pointer-events: none;
  cursor: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  outline: none;
  white-space: nowrap;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section.nopadding {
  padding-top: 0;
}
.section-title {
  margin-top: 0;
  margin-bottom: 72px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
}
.preference-list {
  display: flex;
}
.preference-item {
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
}
.preference-item:nth-child(4n) {
  margin-right: 0;
}
.preference-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.preference-description {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.5;
  color: var(--primari-text-color);
}
.preference-icon-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
}
/* Section 2 What are we doing */
.doing-list {
  display: flex;
}
.item-img {
  margin-right: 24px;
}
.item-img:nth-child(3n) {
  margin-right: 0;
}

/* Section 3 Our Team */
.section.team {
  background: #f4f4fd;
  padding-bottom: 110px;
}

.team-list {
  display: flex;
}
.team-title {
  padding-bottom: 32px;
  margin-right: 24px;
  text-align: center;

  background: var(--primari-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-title:nth-child(4n) {
  margin-right: 0;
}
.team-name {
  margin-top: 32px;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.team-position {
  margin-top: 0;
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 1.5;
  color: var(--primari-text-color);
}
.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-social-title {
  width: 40px;
  height: 40px;
}
.team-social-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:is(:hover, :focus) {
  background-color: #404bbf;
}

.team-social-icon {
  fill: currentColor;
}
/* Section 4 Customers */
.section-customers {
  padding-top: 130px;
  padding-bottom: 120px;
}
.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.customers-list-title {
  width: 168px;
  height: 88px;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:is(:hover, :focus) {
  border: 1px solid #404bbf;
  color: #404bbf;
}
.customers-icon {
  fill: currentColor;
}

/* --------------------------------------------Footer--------------------------------------------  */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background: #2e2f42;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio-footer {
  color: #f4f4fd;
}
.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  margin-top: 0;
  margin-bottom: 0;
  color: #e7e9fc;

  max-width: 264px;
}
.footer-container {
  display: flex;
}
.social-media {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 120px;
}
.social-name {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-title {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:is(:hover, :focus) {
  background-color: #31d0aa;
}
.footer-social-icon {
  fill: currentColor;
}
/* Portfolio */
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}
.button-item-portfolio {
  margin-right: 24px;
}
.button-item-portfolio:nth-child(5n) {
  margin-right: 0;
}
.content-portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.content-portfolio-button:hover,
.content-portfolio-button:focus {
  background: #404bbf;
  color: #ffffff;
  border: 1px solid #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-text {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid #e7e9fc;
  border-top: 1px solid transparent;
}
.porfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.text-overlay {
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  margin: 0;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:is(:hover, :focus) .text-overlay {
  transform: translateY(0);
}
.card-overlay {
  position: relative;
  overflow: hidden;
}
.examples-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.examples-description {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.5;
  color: var(--primari-text-color);
}
.img-portfolio {
  display: block;
}
